@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0;
  /* @apply border border-rose-500; */
}

body {
  @apply bg-black text-white;
  @apply font-jost;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}

iframe {
  scrollbar-width: none; /* Firefox */
}
